<a href="https://colab.research.google.com/github/qeqe6789/pythonbasic/blob/main/PythonDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 조건문 if

# 조건문은 특정 조건을 만족할 때 실행되는 코드를 제어한다. 개발하다보면 여러가지 상황을 처리해야
# 하는 경우가 발생한다. 이 때, 조건문을 통해 실행되거나 실행되지 않는 코드를 정의할 수 있다.

# if의 기본 문법

# 자바에서의 기본 if문
# if(조건식) {
#     만족하는 경우;
# }

# 파이썬에서의 기본 if 문
# if 조건식 :                         # 조건식 뒤에 : 콜론을 잊지 말자. 중괄호는 사용하지 않는다.
#    조건을 만족하는 경우 실행 코드   # 파이썬은 들여쓰기에 매무 민감한다.

# 조건식에는 항상 언제나 True와 False 만이 올 수 있다.
# 다시 한번 강조하지만 만약 들여쓰기를 하지 않으면 오류가 발생된다.

x = 10
if x == 10 :
  print(x)

10

In [3]:
a = int(input('정수를 입력하세요 > '))

if a == 5:
  print(f'입력한 값은 {a} 입니다.')

정수를 입력하세요 > 5
입력한 값은 5 입니다.

In [4]:
# 조건식을 여러개 취급해야하는 경우 가능하면 중첩 if 문은 사용하지 말자

x = 15

if x >= 10:
  print('x는 10 이상입니다. ')
  if x<= 20:
    print('x는 20 이하 입니다.')
  if x == 15:
    print('x는 15입니다.')

x는 10 이상입니다.
x는 20 이하 입니다.
x는 15입니다.

In [5]:
a = int(input('숫자를 입력하세요'))

if a > 5:
  print('입력값이 5보다 큽니다.')
elif a == 5 :
  print('입력값이 5입니다.')
else :
  print('입력값이 5보다 작습니다.')

숫자를 입력하세요7
입력값이 5보다 큽니다.

In [6]:
no = int(input('1부터 5사이의 값을 입력하세요'))

if no < 5 and no >= 4 : # 양쪽 조건을 동시에 만족
  print('입력값은 4입니다.')
elif no < 4 and no >= 3: # 양쪽 조건을 동시에 만족
  print('입력값은 3입니다.')
elif no < 3 and no >= 2: # 양쪽 조건을 동시에 만족
  print('입력값은 2입니다.')
elif no < 2 and no >= 1: # 양쪽 조건을 동시에 만족
  print('입력값은 1입니다.')
else:
  print('입력값은 5입니다.')

1부터 5사이의 값을 입력하세요3
입력값은 3입니다.

In [7]:
# 월을 입력하세요? 해당 계절을 출력하세요.
# 3,4,5 봄 6,7,8 여름 9,10,11 가을 12,1,2 겨울

seasons = {1:'겨울', 2:'겨울', 3:'봄', 4:'봄', 5:'봄', 6:'여름', 7:'여름', 8:'여름', 9:'가을', 10:'가을', 11:'가을', 12:'겨울'}

month = int(input('월을 입력하세요.'))
season = seasons.get(month, 'unknown')
print(f'{season} 입니다.')

월을 입력하세요.5
봄입니다.

In [9]:
# if statement 조건 구문

# 정수 하나를 입력 받아서 그 수가 홀수인지 짝수인지를 알려주는 프로그램을 만드세요

num = int(input('정수를 입력하세요'))

if num % 2 == 0:
  print(f'입력하신 {num}은 짝수입니다.')
else :
  print(f'입력하신 {num}은 홀수입니다.')

정수를 입력하세요4
입력하신 4은 짝수입니다.

In [8]:
# 조건부 표현식 if expression
# 자바의 삼항연산자와 달리 if 를 사용하여 표현한다.

no = int(input('정수를 입력하세요'))

answer = '짝수' if no % 2 == 0 else '홀수' # True 출력값      if 조건식       else False 출력값
print(f'입력하신 {no}은 {answer}입니다')

정수를 입력하세요5
입력하신 5은 홀수입니다

In [10]:
# if와 in 연산자
list1 = ['봄','가을']

input1 = input('어느 계절을 좋아하시나요? ')

if input1 in list1 :
  print(f'{input1}은 여행가능한 계정입니다. ')
else :
  print(f'{input1}은 여행이 불가능한 계절입니다. ')

어느 계절을 좋아하시나요? 겨울
겨울은 여행이 불가능한 계절입니다.

In [12]:
# 성적을 입력받아서 59학점 까지는 F학점
# 69점까지는 D학점
# 79점까지는 C학점
# 89학점까지는 B학점
# 100점까지는 A학점을
# '당신의 점수 {}는 {}학점입니다.'

score = int(input('성적을 입력하세요. '))

if score <= 59 :
  grade = 'F'
elif score <= 69 :
  grade = 'D'
elif score <= 79 :
  grade = 'C'
elif score <= 89 :
  grade = 'B'
else :
  grade = 'A'

print(f'당신의 점수 {score}는 {grade}학점입니다.')

성적을 입력하세요. 70
당신의 점수 70는 C학점입니다.

In [14]:
# 반복문 While For

# While은 반복횟수가 불명확할 때 주로 사용되고
# For 문은 반복횟수가 명확할 때 주로 사용된다.

# 예를 들어 'hi' 10번 반복하여 출력하고자 한다.
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')

# 10번의 경우에는 위와 같이 10번 반복할 수 있다. 하지만 1000번이라면 무모하다.

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [15]:
for i in range(10):
  print('hi')

# range는 인수 3개가 기본이다. range(start, stop, step)
# start 생략 가능 0에서 시작 step 생략 가능 하나씩 증가

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [17]:
list1 = [10, 30, 20, 50]

for i in list1 :
  print(i)

10
30
20
50

In [19]:
list1 = [10, 30, 20, 50]

for i in range(4) :
  print(list1[i])

10
30
20
50

In [27]:
# 리스트와 for문을 이용하여 1~ 100까지의 합 구하기

list = []
sum = 0

for i in range(101):
  list.append(i)

for j in list :
  sum += j

print(f'1부터 100까지의 합은 {sum}입니다.')

1부터 100까지의 합은 5050입니다.

In [32]:
# 2중 for문

for x in range(2, 10) :
  for y in range(1,10) :
    print(x , "*", y, "=", x*y, end=" ")
  print("")

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [29]:
for i in range(1, 10) :
  for j in range(1,10) :
    print(f"{i} x {j} = {i*j:2}", end="  ")
  print()

2 x 1 =  2  2 x 2 =  4  2 x 3 =  6  2 x 4 =  8  2 x 5 = 10  2 x 6 = 12  2 x 7 = 14  2 x 8 = 16  2 x 9 = 18
3 x 1 =  3  3 x 2 =  6  3 x 3 =  9  3 x 4 = 12  3 x 5 = 15  3 x 6 = 18  3 x 7 = 21  3 x 8 = 24  3 x 9 = 27
4 x 1 =  4  4 x 2 =  8  4 x 3 = 12  4 x 4 = 16  4 x 5 = 20  4 x 6 = 24  4 x 7 = 28  4 x 8 = 32  4 x 9 = 36
5 x 1 =  5  5 x 2 = 10  5 x 3 = 15  5 x 4 = 20  5 x 5 = 25  5 x 6 = 30  5 x 7 = 35  5 x 8 = 40  5 x 9 = 45
6 x 1 =  6  6 x 2 = 12  6 x 3 = 18  6 x 4 = 24  6 x 5 = 30  6 x 6 = 36  6 x 7 = 42  6 x 8 = 48  6 x 9 = 54
7 x 1 =  7  7 x 2 = 14  7 x 3 = 21  7 x 4 = 28  7 x 5 = 35  7 x 6 = 42  7 x 7 = 49  7 x 8 = 56  7 x 9 = 63
8 x 1 =  8  8 x 2 = 16  8 x 3 = 24  8 x 4 = 32  8 x 5 = 40  8 x 6 = 48  8 x 7 = 56  8 x 8 = 64  8 x 9 = 72
9 x 1 =  9  9 x 2 = 18  9 x 3 = 27  9 x 4 = 36  9 x 5 = 45  9 x 6 = 54  9 x 7 = 63  9 x 8 = 72  9 x 9 = 81

In [31]:
def print_multiplictaion_table(n):
  for i in range(1,10):
    print(n, "x", i, "=", n*i, end="\t")
  print()

for i in range(2, 10):
  print("***", i, "단 ***")
  print_multiplictaion_table(i)

*** 2 단 ***
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
*** 3 단 ***
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
*** 4 단 ***
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
*** 5 단 ***
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
*** 6 단 ***
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
*** 7 단 ***
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
*** 8 단 ***
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
*** 9 단 ***
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [ ]:
# While

# while 조건식 :
#     수행시킬 구문

while True :
  print("hi")

In [33]:
i = 10
while i > 5 :
  print('hi')
  i -= 1 # 파이썬은 자바처럼 i++ 즉 증감 연산자는 사용하지 않는다. i = i + 1

hi
hi
hi
hi
hi

In [35]:
import random

temp_no = 0
while temp_no != 3 : # 3이 나올때까지 반복하여 난수 발생
  temp_no = random.randint(1,6) # 끝 숫자 6도 포함된다. 미만이 아닌 이하
  
  print(f'발생된 난수는 {temp_no}입니다.')

발생된 난수는 1입니다.
발생된 난수는 6입니다.
발생된 난수는 5입니다.
발생된 난수는 1입니다.
발생된 난수는 1입니다.
발생된 난수는 2입니다.
발생된 난수는 1입니다.
발생된 난수는 1입니다.
발생된 난수는 6입니다.
발생된 난수는 3입니다.

In [36]:
# 난수 발생 정리

import random # random 모듈 임포트 후 사용
random.random() # 0 에서 1미만 실수 float으로 생성

0.9009210347661767

In [37]:
random.randint(1, 10) # 1에서 10이하의 정수 하나 생성

1

In [38]:
random.randrange(0, 10, 2) # 0에서 10 미만 중 2의 배수로 난수 발생

6

In [39]:
random.choice(['봄','여름','가을','겨울']) #리스트의 값들 중 하나를 임의로 선택

'봄'

In [40]:
random.sample(range(1,46), 6) # range 범위 중 임의의 개수 추출

[40, 16, 39, 12, 7, 10]

In [41]:
list1 = [1,2,3,4,5]

random.shuffle(list1)

print(list1)

[1, 3, 2, 4, 5]

In [44]:
# break 강제로 빠져나가기 
# continue continue 하단의 내용은 건너뛰고 다시 반복문으로 들어가기

i = 0

while i < 10:
  i += 1
  if i % 2 == 0 :
    print(i)

2
4
6
8
10

In [47]:
i = 0
while i < 10:
  i += 1
  if i % 2 == 0 :
    continue
  print(i)

1
3
5
7
9

In [48]:
i = 0
while True:
  i += 1
  if i == 10 :
    break
  print(i)

1
2
3
4
5
6
7
8
9